<div class="ghos3-project">
    <div class="ghos3-project-summary">   
        <div class="ghos3-project-details">
            <div class="ghos3-project-title">
                <h5 class="ghos3-project-name">{{title}}</h5>
                <div class="ghos3-project-category" style="color: {{primary_tag.accent_color}};">
                    <img class="ghos3-project-category-image" src="{{primary_tag.feature_image}}"/> {{primary_tag.name}}
                </div>
            </div>
            <div class="ghos3-project-about">
                {{content}}
            </div>
        </div>
        <img class="ghos3-project-image" src="{{feature_image}}"/>
    </div>
    <div class="ghos3-project-leader-list"> {{!-- consider moving to another partial --}}
        {{#foreach authors}}
        <div class="ghos3-project-leader">
            {{#if profile_image}}
                <img class="ghos3-project-leader-image" src="{{profile_image}}" />
            {{else}}
                <img class="ghos3-project-leader-image" src="{{ asset 'assets/images/placeholder-people.png'}}" />
            {{/if}}
            <div>
                <h6 class="ghos3-project-leader-name">{{name}}</h6>
                <div class="ghos3-project-leader-bio">
                    {{bio}}
                </div>
            </div>
        </div>
        {{/foreach}}
    </div>
</div>
