
<div class="ghos3-recommendation-author">   
    <div class="ghos3-recommendation-image">
        <img src="{{feature_image}}"/>
    </div>     
    <div class="ghos3-recommendation-about">
        {{#foreach (split title separator= "|")}}
            {{#if @first}}
                <h2 class="ghos3-recommendation-title">{{this}}</h2>
            {{/if}}
            {{#unless @first}}{{#unless @last}}
                <p class="ghos3-recommendation-affiliation">{{this}}</p>
            {{/unless}}{{/unless}}
            {{#if @last}}
                <p class="ghos3-recommendation-description">{{this}}</p>             
            {{/if}}
        {{/foreach}}
    </div>
</div>
<div class="ghos3-recommendation-text">
    <p>
        {{content}}
    </p>
</div>
<a class="ghos3-link-primary ghos3-recommendation-link" href="{{excerpt}}" target="_blank">Full recommendation letter</a>
