{{!< default}}

{{#post}}
<article class="ghos3-article {{post_class}}">
    {{#match @page.show_title_and_feature_image}}
    <header class="ghos3-header ghos3-canvas">
        <h1 class="ghos3-title">S<sup>3</sup> {{date published_at format="YYYY"}}</h1>

        {{#if custom_excerpt}}
            <p class="ghos3-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
            <figure class="ghos3-feature-image">
                <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}
    </header>
    {{/match}}

    <div class="ghos3-container ghost-camp-container">
        {{content}}

        <div class="ghos3-button-list-centered">
            <a class="ghos3-button ghost-button-secondary" href="#projects">Projects</a>
            <a class="ghos3-button ghost-button-secondary" href="#workshops">Workshops</a>
            <a class="ghos3-button ghost-button-secondary" href="#lectures">Lectures</a>
        </div>    

        <h2 id="projects">Projects</h2>

        <p>
            The bulk of your time at the School will be spent working on a <strong>research project</strong>. You may indicate your preference regarding the project in your application, but teams will be assigned upon arrival to the School, once you get to meet the project leaders in person.
        </p>
        <p>
            Below are the projects available during this years camp.
        </p>

        <section class="ghos3-projects">
            {{#get "posts" filter=(concat "tags:project+tags:" slug) include="tags,authors"}}
            {{#match posts.length "=" 0}}
                <p>TBA</p>
            {{/match}}
            {{#foreach posts}}
                {{> "project"}}
            {{/foreach}}
            {{/get}}
        </section>

        <h2 id="workshops">Workshops</h2>
        <section class="ghos3-workshops">
            {{#get "posts" filter=(concat "tags:workshop+tags:" slug) include="tags,authors"}}
            {{#match posts.length "=" 0}}
                <p>TBA</p>
            {{/match}}
            {{#foreach posts}}
                {{> "workshop"}}
            {{/foreach}}
            {{/get}}
        </section>

        
        <h2 id="lectures">Lectures</h2>
        <section class="ghos3-lectures">
            {{#get "posts" filter=(concat "tags:lecture+tags:" slug) include="tags,authors"}}
            {{#match posts.length "=" 0}}
                <p>TBA</p>
            {{/match}}
            {{#foreach posts}}
                {{> "lecture"}}
            {{/foreach}}
            {{/get}}
        </section>

    </div>

</article>
{{/post}}