{{!< default}}

<div class="ghos3-page">
    <div class="ghos3-container">

        <div class="ghos3-hero">
            <div class="ghos3-hero-info">
                <div class="ghos3-hero-title">
                    <h1 class="ghos3-hero-title-text">
                        Summer <br />
                        School of <br />
                        Science
                    </h1>
                    <img class="ghos3-hero-drawing" src="{{asset 'assets/icons/curly-bracket.svg'}}" />
                </div>
                <div class="ghos3-hero-tag-list">
                    <div class="ghos3-hero-tag">
                        <img src="{{asset 'assets/icons/hero-tag-international.svg'}}" />
                        <span>international</span>
                    </div>
                    <div class="ghos3-hero-tag">
                        <img src="{{asset 'assets/icons/hero-tag-interdisciplinary.svg'}}" />
                        <span>interdisciplinary</span>
                    </div>
                    <div class="ghos3-hero-tag">
                        <img src="{{asset 'assets/icons/hero-tag-practical-research.svg'}}" />
                        <span>practical research</span>
                    </div>
                    <div class="ghos3-hero-tag">
                        <img src="{{asset 'assets/icons/hero-tag-late-july-early-mid-august.svg'}}" />
                        <span>late July / early-mid August</span>
                    </div>
                    <div class="ghos3-hero-tag">
                        <img src="{{asset 'assets/icons/hero-tag-pozega-croatia.svg'}}" />
                        <span>Požega, Croatia</span>
                    </div>
                    <div class="ghos3-hero-tag">
                        <img src="{{asset 'assets/icons/hero-tag-for-highschoolers.svg'}}" />
                        <span>for highschoolers</span>
                    </div>
                </div>
            </div>

            <img class="ghos3-hero-image" src="{{asset 'assets/images/hero-image.png'}}" alt="Work on a biochemical project at S3 2019"/>
            
        </div>

        <section class="ghos3-section ghos3-section-image-left">
            <div class="ghos3-section-image">
                <img src="{{asset 'assets/images/about.png'}}"/ alt="Closing ceremony at S3 2023">
            </div>
            <div class="ghos3-section-text">
                <h1>About</h1>
                <p>
                    <strong>Summer School of Science</strong> is an international summer workshop established in 2001. It is organized by the <strong>Society for Out-of-Frame Education</strong> in Požega, Croatia. The program aims at high school students and offers a diverse range of research projects and lectures in the fields of science and technology.
                </p>
                <p>
                    Summer School of Science is organized in two camps: <strong>S<sup>3</sup></strong> (for grades 9 and 10) and <strong>S<sup>3</sup>++</strong> (for grades 11 and 12), where students get a chance to work in small groups on a real scientific project, guided by a mentor. This is accompanied by evening lectures from eminent scientists from all over the world. Since the scope of the School is international, its official language is English.
                </p>
                <div class="ghos3-button-centered">
                    <a class="ghos3-button ghos3-button-primary" href="/program/">Read more</a>
                </div>
            </div>
        </section>
    </div>

    <section class="ghos3-section-white ghos3-section-full-width">
        <div class="ghos3-section ghos3-section-image-right">
            <div class="ghos3-centered">
            {{#match @custom.state "Upcoming - apps opening soon"}}
                <div>
                {{#match @custom.camps "Merged"}}
                    <p>This year our usual S<sup>3</sup> and S<sup>3</sup>++ camps will be merged, and held on the following dates:</p>
                    <div class="ghos3-camp-list">
                        <div class="ghos3-camp-button">
                            <a class="ghos3-button ghos3-button-secondary" href="/s3-{{date format="YYYY"}}">S<sup>3</sup> / S<sup>3</sup>++</a>
                        </div>
                        <div class="ghos3-camp-dates">
                            28 July - 9 August, 2024
                        </div>
                    </div>
                {{/match}}
                {{#match @custom.camps "Split"}}
                    <p>This year our usual S<sup>3</sup> and S<sup>3</sup>++ camps will be merged, and held on the following dates:</p>
                    <div class="ghos3-camp-list">
                        <div class="ghos3-camp-button">
                            <a class="ghos3-button ghos3-button-secondary" href="/s3pp-{{date format="YYYY"}}">S<sup>3</sup>++</a> 
                        </div>
                        <div class="ghos3-camp-dates">
                            25 July - 5 August, 2025
                        </div>
                        <div class="ghos3-camp-button">
                            <a class="ghos3-button ghos3-button-secondary" href="/s3pp-{{date format="YYYY"}}">S<sup>3</sup>++</a> 
                        </div>
                        <div class="ghos3-camp-dates">
                            5 August - 13 August, 2025
                        </div>
                    </div>
                {{/match}}
                </div>
            {{/match}}
            {{#match @custom.state "Upcoming - apps opened"}}
            {{/match}}
            {{#match @custom.state "Selection"}}
            {{/match}}
            {{#match @custom.state "Archive"}}
            {{/match}}
            </div>
            <div class="ghos3-section-image">
                <img style="width: 300px;" src="{{asset 'assets/images/calendar.svg'}}" />
            </div>
        </div>
    </section>

    <div class="ghos3-container">
        <section class="ghos3-section ghos3-section-two-thirds">
            <div>
                <h1>Vision</h1>
                <blockquote class="ghos3-quote">
                    <p class="ghos3-quote-text">Man's mind, stretched to a new idea, never goes back to its original dimensions.</p>                
                    <cite class="ghos3-quote-author">Oliver Wendell Holmes</cite>                
                </blockquote>
                <p>
                    Summer School of Science is a unique place where like-minded individuals of all ages get together to share their enthusiasm for <strong>knowledge and discovery</strong>. Talented and highly motivated students are often neglected in regular schooling. The Summer School of Science encourages them to <strong>"think big"</strong> and presents them with personal challenges that build self-confidence. It allows them to work in a controlled environment, tuned to them, and provides hands-on experience of working as a young scientist.
                </p>
                <p>
                    In an <strong>open and informal atmosphere</strong>, students and their mentors work in teams and exchange ideas freely. They grow and face scientific challenges head-on, together. They form long-lasting relationships that not only help their individual careers, but also promote international and intercultural understanding. Our <strong>creative mentors</strong>, devoted to scientific and personal excellence, teach with a passion for both science and communication. They use a personalized approach and make sure every student has the best experience possible.
                </p>
                <p>
                    Beyond science popularization, we aim to create a <strong>global network</strong> of high school students, young scientists and social entrepreneurs who are committed to building knowledge-based societies. We see the Summer School of Science as a platform for personal growth. Our community builds on its past – every new generation can lean on its predecessors to ensure the continuation of this volunteer-based project. Former participants often go on to become mentors themselves and stay involved by supporting the School in various ways. Thus, even after the event itself is over, the School continues to encourage and nurture leadership skills in young people. By bringing together young leaders from different cultures, we hope to provide a model for similar projects in other countries.
                </p>
            </div>
            <div class="ghos3-recommendation">
                {{#get "posts" filter="tags:recommendation"}}
                {{#foreach posts}}
                    {{> "recommendation"}}
                {{/foreach}}
                {{/get}}
            </div>
        </section>

        <section class="ghos3-section ghos3-section-one-third">
            <div class="ghos3-summary-tile shiny">
                <h1>How to apply</h1>
                <p>
                    Participants must complete an <strong>online registration form</strong>.
                </p>
                <p>
                    When filling out the form, applicants will need to submit:
                </p>
                <ul>
                    <li>
                        a text-only <strong>motivation letter</strong>,
                    </li>
                    <li>
                        the contact of a <strong>teacher or supervisor</strong>, whom we may contact about a recommendation letter.
                    </li>
                </ul>
                <p>
                    These will be included in the application form and need to be prepared in advance.
                </p>
                <p>
                    Applicants requesting a scholarship must also include a letter explaining their financial situation. Read more under <i>Fees</i>.
                </p>
                <p>
                    <strong>Applications open:</strong> 1 April 2024, 00:00 CET <br/>
                    <strong>Application deadline:</strong> 31 May 2024, 23:59 CEST
                </p>
                <p>
                    After applications close, all applications will be reviewed by the supervisor and organizers, and a certain number of applicants will be invited for an <strong>online interview</strong>. More information can be found at the links below. The results of the final selection process will be announced during the week after interviews are held.
                </p>
                <p>
                    Some applicants may require an accelerated selection procedure. Please contact the School’s organizing team if that is the case.
                </p>
                <a class="ghos3-link-primary" href="/apply/">Detailed instructions</a>
                <a class="ghos3-link-primary" href="/apply/#selection-procedure">Selection procedure</a>

            </div>
            <div>
                <div class="ghos3-summary-tile">
                    <h1>Who can apply</h1>
                    <p>
                        The program of the Summer School of Science is intended for high school students. Applicants must have completed at least grade 9 (or equivalent) before attending the School and must <i>not</i> have attended university.
                    </p>
                    <p>
                        We require applicants to demonstrate motivation and interest, as well as a solid usage of English. We do <i>not</i> require previous experience with scientific research of any kind, demonstration of academic excellence or proof of English language qualification, besides successfully participating in the selection interview.
                    </p>
                    <a class="ghos3-link-primary" href="/program/">Program</a>
                    <a class="ghos3-link-primary" href="/faq/">FAQ</a>
                </div>
                <div class="ghos3-summary-tile">
                    <h1>Fees</h1>
                    <p>
                        Fees are <strong>income-based</strong>, and cover course material, additional activities, accident insurance, food, and accommodation for the duration of the camp. The fee does <i>not</i> include travel to or from Požega, visa expenses, spending money, laundry or stationery.
                    </p>
                    <p>
                        For more information on exact costs, as well as scholarships and exceptions, follow the links below.
                    </p>
                    <a class="ghos3-link-primary" href="/fees">More information on fees</a>
                    <a class="ghos3-link-primary" href="/scholarships">Scholarships and sponsors</a>
                </div>
            </div>
        </section >
    </div>
</div>
