{{!< default}}

{{#post}}
<article class="ghos3-article {{post_class}}">
    {{#match @page.show_title_and_feature_image}}
    <header class="ghos3-header ghos3-canvas">
        <h1 class="ghos3-title">{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="ghos3-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
            <figure class="ghos3-feature-image">
                <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}
    </header>
    {{/match}}

    <div class="ghos3-content ghos3-canvas">
        {{content}}

        {{!-- <div class="ghos3-button-list">
            <a class="ghos3-button ghos3-button-secondary" href="#projects">Applications</a>
            <a class="ghos3-button ghos3-button-secondary" href="#lectures">Fees and finances</a>
            <a class="ghos3-button ghos3-button-secondary" href="#workshops">Practical information</a>
            <a class="ghos3-button ghos3-button-secondary" href="#workshops">Projects and lectures</a>
            <a class="ghos3-button ghos3-button-secondary" href="#workshops">Volunteering</a>
        </div>
    
        <section class="ghos3-faqs">
            {{#get "posts" filter="tags:faq"}}
            {{#foreach posts}}
                <div class="ghos3-faq">
                    <p class="ghos3-faq-title">{{title}}</p>
                    <p class="ghos3-faq-answer">{{content}}</p>
                </div>
            {{/foreach}}
            {{/get}}
        </section> --}}
    </div>

</article>
{{/post}}